absl-py==2.1.0
aiohttp==3.8.1
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anyio==4.5.2
api==0.0.7
arrow==1.3.0
asgiref==3.8.1
aspose-cells==25.2.0
asttokens==3.0.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==25.1.0
babel==2.17.0
backcall==0.2.0
backports.tarfile==1.2.0
backports.zoneinfo==0.2.1
binaryornot==0.4.4
blender==1.4
blinker==1.8.2
bokeh==3.1.1
build==1.2.2.post1
CacheControl==0.14.2
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==2.1.1
chromedriver-autoinstaller==0.6.4
cleo==2.1.0
click==8.1.8
cloudpickle==3.1.1
clr_loader==0.2.7.post0
colorama==0.4.6
contourpy==1.1.1
cookiecutter==2.6.0
copilot==0.1.9
crashtest==0.4.1
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
dart==1.0
decorator==5.2.1
diGraph==0.1.4
distlib==0.3.9
distro==1.9.0
Django==4.2.19
docutils==0.20.1
dulwich==0.22.4
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.2.0
fastapi==0.115.8
fastjsonschema==2.21.1
felt==0.2
filelock==3.16.1
filetype==1.2.0
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
flatbuffers==25.1.24
flet-cli==0.25.2
flet-desktop==0.25.2
flet-web==0.25.2
flutter==0.1
fonttools==4.56.0
frozenlist==1.5.0
gast==0.4.0
gitdb==4.0.12
github==1.2.7
GitPython==3.1.44
google-auth==2.38.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.70.0
h11==0.14.0
h5py==3.11.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.0.0
installer==0.7.0
ipython==8.12.3
IronPdf==2025.2.1.8
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jax==0.4.13
jedi==0.19.2
Jinja2==3.1.5
jiter==0.9.1
joblib==1.4.2
jpype1==1.5.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keras==2.12.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==25.5.0
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
kiwisolver==1.4.7
libclang==18.1.1
llvmlite==0.41.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.2.0
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.1.0
mysql-connector-python==9.0.0
narwhals==1.28.0
netifaces==0.11.0
nose==1.3.7
numba==0.58.1
numpy==1.23.5
oauthlib==3.2.2
openai==1.98.0
openpyxl==3.1.5
opt_einsum==3.4.0
outcome==1.3.0.post0
packaging==24.2
pandas==2.0.3
parso==0.8.4
peewee==3.17.9
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pip-review==1.3.0
pkginfo==1.12.1.2
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
pluggy==1.5.0
poetry==1.8.5
poetry-core==1.9.1
poetry-plugin-export==1.8.0
prompt_toolkit==3.0.50
propcache==0.2.0
protobuf==4.25.6
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
pygame==2.6.1
Pygments==2.19.1
pyodbc==5.2.0
PyOpenGL==3.1.9
pyparsing==3.1.4
pypiwin32==223
pypng==0.20220715.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PySocks==1.7.1
pytest==8.3.4
pytest-html==4.1.1
pytest-metadata==3.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-slugify==8.0.4
pythonnet==3.0.5
pytz==2025.1
pyunitreport==0.1.4
pywin32==308
pywin32-ctypes==0.2.3
PyYAML==6.0.2
qrcode==7.4.2
rapidfuzz==3.9.7
referencing==0.35.1
repath==0.9.0
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.20.1
rsa==4.9
scandir==1.10.0
scikit-learn==1.3.2
scipy==1.10.1
secure-smtplib==0.1.1
selenium==4.27.1
Send2Trash==1.8.3
shap==0.44.1
shellingham==1.5.4
six==1.17.0
slicer==0.0.8
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.38
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.44.0
streamlit==1.40.1
tenacity==9.0.0
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
text-unidecode==1.3
tf-keras==2.15.0
threadpoolctl==3.5.0
tk==0.1.0
tkcalendar==1.6.1
tkdesigner==1.0.7
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.27.0
trio-websocket==0.12.2
trove-classifiers==2025.2.18.16
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
uvicorn==0.33.0
virtualenv==20.29.2
watchdog==4.0.2
watchfiles==0.24.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.0.6
wrapt==1.14.1
wsproto==1.2.0
XlsxWriter==3.2.2
xyzservices==2025.1.0
yarl==1.15.2
zipp==3.20.2
